!!! transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title nodejs+express+socket.io聊天室-js8.in
    script(src='/js/jquery1.3.2.js')
    script(src='/js/socket.js')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body!=body